---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import WeatherMap from "../components/WeatherMap.astro";
import Footer from "../components/Footer.astro";

const title =
	"Karte der Lichtverschmutzung in Deutschland";
const description =
	"Entdecken Sie die aktuelle Lichtverschmutzung in Deutschland mit unserer interaktiven Karte. Informieren Sie sich über die Auswirkungen auf Umwelt und Gesundheit.";

---

<Layout title={title} description={description}>
	<Header currentPath="/lichtverschmutzung/" />
	<main>
		<WeatherMap layerselect={false} layer="lightpollution" zoom={6} center={[51.163375, 10.447683]} type="fullscreen" />

		<section class="content-section">
			<article>
				<header>
					<h1>
						Interaktive Karte zur Lichtverschmutzung in Deutschland
					</h1>
				</header>
			</article>
			<article>
				<p>
					Unsere <strong>interaktive Karte der Lichtverschmutzung</strong> zeigt Ihnen detailliert, wie stark Ihre Region von künstlicher Beleuchtung betroffen ist. Basierend auf zuverlässigen Daten können Sie die nächtliche Helligkeit in Deutschland erkunden und die Auswirkungen auf Umwelt und Gesundheit besser verstehen.
				</p>
				<p>
					Nutzen Sie unsere Karte, um herauszufinden, welche Gebiete besonders von Lichtverschmutzung betroffen sind und wo natürliche Nachthimmel noch erhalten geblieben sind. Informieren Sie sich über die negativen Effekte der Lichtverschmutzung auf Tiere, Pflanzen und Menschen.
				</p>
			</article>
			<article>
				<h3>Datenquelle:</h3>
				<p class="credits">
					Falchi, Fabio; Cinzano, Pierantonio; Duriscoe, Dan; Kyba, Christopher C. M.; Elvidge, Christopher D.; Baugh, Kimberly; Portnov, Boris; Rybnikova, Nataliya A.; Furgoni, Riccardo (2016): Supplement to: The New World Atlas of Artificial Night Sky Brightness. GFZ Data Services. <a href="http://doi.org/10.5880/GFZ.1.4.2016.001" target="_blank">http://doi.org/10.5880/GFZ.1.4.2016.001</a>
				</p>
			</article>
		</section>

	</main>

	<Footer />
</Layout>

<style>
	.content-section {
		padding: 2rem 1.5rem;
		max-width: 900px;
		margin: 0 auto;
	}

	.content-section h1 {
		font-size: 2rem;
		margin-bottom: 1rem;
		font-weight: 700;
	}

	.content-section p {
		margin-bottom: 1rem;
		line-height: 1.8;
	}

	.content-section li {
		margin-left: 2rem;
	}

	.credits {
		color: #5b5b5b;
	}
</style>
