---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import CityIndex from "../../components/CityIndex.astro";

const title = "Regen in Deutschland - Wettervorhersage";
const description = `Aktuelle Regenübersicht für Deutschland. Erfahren Sie, ob in Ihrer Region Regen auftritt, und bleiben Sie stets informiert.`
---

<Layout title={title} description={description}>
    <Header currentPath="/regen/"/>
    <main>
        <section class="content-section">
            <article>
                <header class="index-header">
                    <h1>Regen in Deutschland</h1>
                    <p>Wählen Sie Ihre Region:</p>
                </header>
                <CityIndex prefix="regen"/>
            </article>
        </section>
    </main>
    <Footer />
</Layout>

<style>
    .content-section {
        padding: 2rem 1.5rem;
        max-width: 900px;
        margin: 0 auto;
    }
    .index-header h1 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    .index-header p {
        font-size: 1rem;
        margin-bottom: 1rem;
        color: #555;
    }
</style>
